In [5]:
import pandas as pd

# fetch data
df = pd.read_csv('./data/Case_Studies/CaseStudy01_Divorce_YoungAdults_Data.csv');
df.head()

   DIVYEAR  momint  dadint  momclose  depression  livewithmom  gethitched
0       90       3       2         2           3            1           3
1       90       3       2         3           2            2           2
2       89       1       3         1           4            1           2
3       90       3       4         3           3            1           3
4       89       1       3         2           1            1           2